<header>
  <div class="logo">
    artisty
  </div>
  <div class="nav">
    <ul>
      <li>home</li>
      <li>gallery</li>
      <li>artists</li>
      <li>login</li>
      <li>sign up</li>
    </ul>
  </div>
</header>
<section class="homepage">
  <section class='hero'>
    <div class="container">
      <div class="content">
        <div class="caption">
          <pre>Art is beautiful, Art is life,
            Buy Arts </pre>
          <p>Browse our collection to find the masterpiece that you desire or</p>
          <p> Join us today to start selling.</p>
          <div class="actions">
            <button class="btn-fill">explore artworks</button>
            <button>start selling</button>
          </div>
        </div>      
      </div>
    </div>
  </section>
  <section class="sub-section">
    <div class="actions">
      <input type="text" placeholder="Search by name, artist">
      <select name="category" id="category">
        <option value="">Choose category</option>
      </select>
      <button class="btn-fill">Search</button>
    </div>
  </section>
</section>
<section class="arts">
  <div class="artworks">
    <div class="heading">
      <h2>featured artworks</h2>
      <button class="btn-light">view all</button>
    </div>
      <div class="content" > 
        @for (img of imgs; track img.id) {
        <div class="art-piece">
          <div class="portrait">
            <img [src]="img.path" alt="art-piece">
          </div>
          <div class="art-info">
            <p>2 pieces frame</p>
            <p>artist name</p>
          </div>
        </div>     
      }

      </div> 
  </div>
  <div class="artists">
    <div class="heading">
      <h2>top artists</h2>
      <button class="btn-light">view all</button>
    </div>
    <div class="content">
      @for (artist of artists; track artist.id) {
        <div class="artist-piece">
          <div class="portrait">
            <img [src]="artist.imgUrl"  alt="artist pohoto">
          </div>
          <div class="artist-info">
            <p>{{artist.name}}</p>
          </div>
        </div>
      }
      
    </div>
  </div>
</section>
<section class="categories">
  <div class="content">
    <div class="heading">
      <h2>Categories</h2>
      <button class="btn-light">view all</button>
    </div>

    <div class="trio-block" *ngFor="let trioBlock of categories; let i= index">
      <div class="dual">
        <div class="top">
          <!-- <img src="../assets/categories/abstract.png" width="620px"> -->
          <img [src]="trioBlock[0].imgUrl" width="620px">
          <p class="category-name paint">{{trioBlock[0].name}}</p>
        </div>
        <div class="bottom">
          <img [src]="trioBlock[2].imgUrl" width="620px">
          <p class="category-name">{{trioBlock[2].name}}</p>
        </div>
      </div>
      <div class="single">
        <!-- <img src="../assets/categories/mural.png" width="620px"> -->
        <img [src]="trioBlock[1].imgUrl" width="620px">      
        <p class="category-name"><span>{{trioBlock[1].name}}</span></p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>